<h1> Blog 1.0 </h1>
<form method="get" action="/posts/create">
  
  <div class="form-group">
    <label for="title">Ingrese titulo</label>
    <input id="title" name="title" class="form-control" placeholder="Escriba el titulo del post">
  </div>
  <br> 
  <div class="form-group">
    <label for="content">Contenido del post</label>
    <input name="content" class="form-control" placeholder="Escriba su post">
  </div>
  <br> 
  <div class="form-group">
    <label for="image_url">Imagen</label>
    <input id="image_url" name="image_url" class="form-control" placeholder="Ingrese la url de su imagen">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

</form>
